body {
    margin: 0;
    padding: 0;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
#intro{
    position: absolute;
    width: 100vw;
    z-index: 100;
    font-family: "ALK Rex Bold", sans-serif;
    background-color: white;
}
.heroessquare{
    height: 100VH;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.section {
    height: 100vh;

}
.f100 {
    font-size: 100px;
}

.f400 {
    font-size: 400px;
}

.f130 {
    font-size: 130px;
}

#p1{
    font-size: 100px;
    margin: 121px 0 0 129px;
}

#section2 {
    padding: 114px 0 0 125px;
}
#lamazixe {
    text-align:center;
    padding:250px 0 0 0;
}
#kata{
    text-align:center;
    padding:250px 0 0 0;
}
#mze{
    text-align:center;
    padding:250px 0 0 0;
}
#gzasheicvalos{
    padding:178px 215px
}
#xemochran{
    text-align:center;
    padding:250px 0 0 0;
}